body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.center-content {
    margin-left: 25%;
    margin-right: 25%;
}

.center-content img {
  display: block;
  max-width: 100%;
  height: auto;
}