<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body bgcolor="#24273a" text="#cad3f5">
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <p><a href="./m1">My M1 challenge</a></p>
    <p><a href="./m2">My M2 challenge</a></p>
    <p><a href="./m3">My M3 challenge</a></p>
    <p><a href="./m4">My M4 challenge</a></p>
    <p><a href="./m5">My M5 challenge</a></p>
    <p><a href="./m6">My M6 challenge</a></p>
    <p><a href="./m7">My M7 challenge</a></p>
  </body>
</html>
